In [1]:
#importing the dependencies
import pandas as pd
import numpy as np
import pycountry

In [2]:
#Loading the dataset
data = pd.read_csv('../data/interim/data.csv', index_col=0)
data.head()

,Title,Year,Source title,Abstract,Index Keywords,Cited by,Publisher,Language of Original Document,Document Type,countries,Funding Entities,Main Country
0,Severe proliferative retinopathy in a patient ...,2023,American Journal of Ophthalmology Case Reports,[No abstract available],"['adult', ' Article', ' autoimmune hepatitis',...",NaN,Elsevier Inc.,English,Article,['United States'],[],['United States']
1,Plasma levels of E-selectin are associated wit...,2023,European Journal of Haematology,Background: The vascular endothelium is marked...,"['creatinine', ' endothelial leukocyte adhesio...",NaN,John Wiley and Sons Inc,English,Article,"['France', 'Guadeloupe']",[],['France']
2,Routine Ophthalmological Examination Rates in ...,2023,International Journal of Environmental Researc...,The American Academy of Ophthalmology and the ...,"['blood', ' cell organelle', ' COVID-19', ' ep...",NaN,MDPI,English,Article,['United States'],"[Albert Einstein College of Medicine, Yeshiva ...",['United States']
3,Progress in and Prospects of Genome Editing To...,2023,Genes,"Programmable nucleases, such as zinc finger nu...","['atonal BHLH transcription factor 1', ' beta ...",NaN,MDPI,English,Review,['South Korea'],[National Research Foundation],[]
4,Screening for sickle-cell retinopathy,2023,Eye (Basingstoke),[No abstract available],"['crizanlizumab', ' vasculotropin antibody', '...",NaN,Springer Nature,English,Letter,['United Kingdom'],[],['United Kingdom']

1. Total number of publications - 799

# Adding a decade column

In [3]:
period_length = 10
start_year = 1954
end_year = 2024

year_range = end_year - start_year
modulo = year_range % period_length
modulo

0

In [4]:
final_start = end_year - period_length
final_start

2014

In [5]:
starts = np.arange(start_year, end_year,period_length).tolist()
tuples = [(start, start + period_length) for start in starts]
tuples
bins = pd.IntervalIndex.from_tuples(tuples,closed='left')
bins

IntervalIndex([[1954, 1964), [1964, 1974), [1974, 1984), [1984, 1994), [1994, 2004), [2004, 2014), [2014, 2024)], dtype='interval[int64, left]')

In [6]:
original_labels = list(bins.astype(str))
new_labels = ['{} - {}'.format(b.strip('[)').split(', ')[0], int(b.strip('[)').split(', ')[1])-1) for b in original_labels]

label_dict = dict(zip(original_labels, new_labels))

label_dict

{'[1954, 1964)': '1954 - 1963',
 '[1964, 1974)': '1964 - 1973',
 '[1974, 1984)': '1974 - 1983',
 '[1984, 1994)': '1984 - 1993',
 '[1994, 2004)': '1994 - 2003',
 '[2004, 2014)': '2004 - 2013',
 '[2014, 2024)': '2014 - 2023'}

In [7]:
label_dict.values()

dict_values(['1954 - 1963', '1964 - 1973', '1974 - 1983', '1984 - 1993', '1994 - 2003', '2004 - 2013', '2014 - 2023'])

In [8]:
decade_df = data[['Year']]
decade_df.head()

   Year
0  2023
1  2023
2  2023
3  2023
4  2023

In [9]:
decade_df['Period'] = pd.cut(decade_df['Year'], bins=bins, include_lowest=True, precision=0)
decade_df['Period'] = decade_df['Period'].astype("str")
decade_df = decade_df.replace(label_dict)

C:\Users\Sherrif\AppData\Local\Temp\ipykernel_15988\3722296776.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  decade_df['Period'] = pd.cut(decade_df['Year'], bins=bins, include_lowest=True, precision=0)
C:\Users\Sherrif\AppData\Local\Temp\ipykernel_15988\3722296776.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  decade_df['Period'] = decade_df['Period'].astype("str")

In [10]:
decade_df.head()

   Year       Period
0  2023  2014 - 2023
1  2023  2014 - 2023
2  2023  2014 - 2023
3  2023  2014 - 2023
4  2023  2014 - 2023

In [11]:
# decade_df.drop('PERIOD', axis=1, inplace=True)
# decade_df.head()

In [12]:
decade_df.groupby('Period')['Period'].count()

Period
1954 - 1963      4
1964 - 1973     27
1974 - 1983    112
1984 - 1993     99
1994 - 2003     75
2004 - 2013    138
2014 - 2023    344
Name: Period, dtype: int64

In [13]:
data['Period'] = decade_df['Period']
data.head()

,Title,Year,Source title,Abstract,Index Keywords,Cited by,Publisher,Language of Original Document,Document Type,countries,Funding Entities,Main Country,Period
0,Severe proliferative retinopathy in a patient ...,2023,American Journal of Ophthalmology Case Reports,[No abstract available],"['adult', ' Article', ' autoimmune hepatitis',...",NaN,Elsevier Inc.,English,Article,['United States'],[],['United States'],2014 - 2023
1,Plasma levels of E-selectin are associated wit...,2023,European Journal of Haematology,Background: The vascular endothelium is marked...,"['creatinine', ' endothelial leukocyte adhesio...",NaN,John Wiley and Sons Inc,English,Article,"['France', 'Guadeloupe']",[],['France'],2014 - 2023
2,Routine Ophthalmological Examination Rates in ...,2023,International Journal of Environmental Researc...,The American Academy of Ophthalmology and the ...,"['blood', ' cell organelle', ' COVID-19', ' ep...",NaN,MDPI,English,Article,['United States'],"[Albert Einstein College of Medicine, Yeshiva ...",['United States'],2014 - 2023
3,Progress in and Prospects of Genome Editing To...,2023,Genes,"Programmable nucleases, such as zinc finger nu...","['atonal BHLH transcription factor 1', ' beta ...",NaN,MDPI,English,Review,['South Korea'],[National Research Foundation],[],2014 - 2023
4,Screening for sickle-cell retinopathy,2023,Eye (Basingstoke),[No abstract available],"['crizanlizumab', ' vasculotropin antibody', '...",NaN,Springer Nature,English,Letter,['United Kingdom'],[],['United Kingdom'],2014 - 2023

# Working on the countries

1. explode the list??
2. Some sort of network

In [14]:
data.columns

Index(['Title', 'Year', 'Source title', 'Abstract', 'Index Keywords',
       'Cited by', 'Publisher', 'Language of Original Document',
       'Document Type', 'countries', 'Funding Entities', 'Main Country',
       'Period'],
      dtype='object')

In [94]:
cols = ['countries','Main Country']
country_df = data[cols]
country_df.head()

                  countries        Main Country
0         ['United States']   ['United States']
1  ['France', 'Guadeloupe']          ['France']
2         ['United States']   ['United States']
3           ['South Korea']                  []
4        ['United Kingdom']  ['United Kingdom']

In [95]:
#replace empty countries with main country entry if available
for index, row in country_df.iterrows():
    if row[0]=='[]' and row[1] != '[]':
        row[0] = row[1]

In [96]:
#adding a number of collaborating countries column the number of countries = collaborators and assuming atleast collaborator per paper
#convert the countries from str in to list
country_df['countries'] = country_df['countries'].str.replace("[",'').str.replace("]",'').str.replace("'",'')
country_df.head()

C:\Users\Sherrif\AppData\Local\Temp\ipykernel_15988\2325578712.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_df['countries'] = country_df['countries'].str.replace("[",'').str.replace("]",'').str.replace("'",'')

            countries        Main Country
0       United States   ['United States']
1  France, Guadeloupe          ['France']
2       United States   ['United States']
3         South Korea                  []
4      United Kingdom  ['United Kingdom']

In [97]:
#split the countries on , into a list of countries
country_df['countries'] = country_df['countries'].str.split(',')
country_df.tail()
#rows with no funding
# funding_df[funding_df['Funding Details'].str.len() == 0]

C:\Users\Sherrif\AppData\Local\Temp\ipykernel_15988\2359733839.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_df['countries'] = country_df['countries'].str.split(',')

           countries       Main Country
794               []                 []
795               []                 []
796               []                 []
797               []                 []
798  [United States]  ['United States']

In [99]:
country_df['Number of collaborator'] = country_df['countries'].apply(lambda row: len(row))

C:\Users\Sherrif\AppData\Local\Temp\ipykernel_15988\5669786.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_df['Number of collaborator'] = country_df['countries'].apply(lambda row: len(row))

In [100]:
country_df

                 countries        Main Country  Number of collaborator
0          [United States]   ['United States']                       1
1    [France,  Guadeloupe]          ['France']                       2
2          [United States]   ['United States']                       1
3            [South Korea]                  []                       1
4         [United Kingdom]  ['United Kingdom']                       1
..                     ...                 ...                     ...
794                     []                  []                       1
795                     []                  []                       1
796                     []                  []                       1
797                     []                  []                       1
798        [United States]   ['United States']                       1

[799 rows x 3 columns]

In [108]:
data

,Title,Year,Source title,Abstract,Index Keywords,Cited by,Publisher,Language of Original Document,Document Type,countries,Funding Entities,Main Country,Period,Number of collaborators
0,Severe proliferative retinopathy in a patient ...,2023,American Journal of Ophthalmology Case Reports,[No abstract available],"['adult', ' Article', ' autoimmune hepatitis',...",NaN,Elsevier Inc.,English,Article,[United States],[],['United States'],2014 - 2023,1
1,Plasma levels of E-selectin are associated wit...,2023,European Journal of Haematology,Background: The vascular endothelium is marked...,"['creatinine', ' endothelial leukocyte adhesio...",NaN,John Wiley and Sons Inc,English,Article,"[France, Guadeloupe]",[],['France'],2014 - 2023,2
2,Routine Ophthalmological Examination Rates in ...,2023,International Journal of Environmental Researc...,The American Academy of Ophthalmology and the ...,"['blood', ' cell organelle', ' COVID-19', ' ep...",NaN,MDPI,English,Article,[United States],"[Albert Einstein College of Medicine, Yeshiva ...",['United States'],2014 - 2023,1
3,Progress in and Prospects of Genome Editing To...,2023,Genes,"Programmable nucleases, such as zinc finger nu...","['atonal BHLH transcription factor 1', ' beta ...",NaN,MDPI,English,Review,[South Korea],[National Research Foundation],[],2014 - 2023,1
4,Screening for sickle-cell retinopathy,2023,Eye (Basingstoke),[No abstract available],"['crizanlizumab', ' vasculotropin antibody', '...",NaN,Springer Nature,English,Letter,[United Kingdom],[],['United Kingdom'],2014 - 2023,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,UNILATERAL GLAUCOMA ASSOCIATED WITH SICKLE-CEL...,1964,Transactions - American Academy of Ophthalmolo...,[No abstract available],"['hemoglobin', ' article', ' diabetes mellitus...",7.0,NaN,English,Article,[],[],[],1964 - 1973,1
795,RETINOPATHY WITH ANGIOID STREAKS. [RETINOPATHI...,1963,Belgisch tijdschrift voor geneeskunde,[No abstract available],"['angioid streak', ' aorta aneurysm', ' blood ...",NaN,NaN,Dutch,Review,[],[],[],1954 - 1963,1
796,[Retinopathy in sickle cell disease],1960,Klinische Monatsblätter für Augenheilkunde und...,[No abstract available],"['complication', ' diseases', ' retina', ' sic...",1.0,NaN,German,Article,[],[],[],1954 - 1963,1
797,Sickle-cell retinopathy,1958,The Mississippi doctor,[No abstract available],"['bleeding', ' complication', ' retina', ' sic...",NaN,NaN,English,Article,[],[],[],1954 - 1963,1
798,Vitreous hemorrhage and retinopathy associated...,1954,American Journal of Ophthalmology,A cause of Eales' disease is presented which w...,"['bleeding', ' diseases', ' retina', ' sickle ...",15.0,NaN,English,Article,[United States],[],['United States'],1954 - 1963,1

# Citations

In [111]:
data['Cited by'].fillna(0, inplace=True)
data['Cited by'].value_counts()

Cited by
0.0      143
1.0       64
4.0       41
2.0       40
7.0       31
        ...
237.0      1
129.0      1
455.0      1
104.0      1
203.0      1
Name: count, Length: 103, dtype: int64

# index keywords

In [113]:
cols = ['Index Keywords']
keywords_df = data[cols]
keywords_df.head()

                                      Index Keywords
0  ['adult', ' Article', ' autoimmune hepatitis',...
1  ['creatinine', ' endothelial leukocyte adhesio...
2  ['blood', ' cell organelle', ' COVID-19', ' ep...
3  ['atonal BHLH transcription factor 1', ' beta ...
4  ['crizanlizumab', ' vasculotropin antibody', '...

In [116]:
for index, row in keywords_df.iterrows():
    print (type(row[0]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [119]:
#turn them into lists so we can access each keyword easily
# remove the ['']
keywords_df['Index Keywords'] = keywords_df['Index Keywords'].str.replace("[",'').str.replace("]",'').str.replace("'",'')
keywords_df['Index Keywords'] = keywords_df['Index Keywords'].str.split(',')
keywords_df

C:\Users\Sherrif\AppData\Local\Temp\ipykernel_15988\506265219.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  keywords_df['Index Keywords'] = keywords_df['Index Keywords'].str.replace("[",'').str.replace("]",'').str.replace("'",'')
C:\Users\Sherrif\AppData\Local\Temp\ipykernel_15988\506265219.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  keywords_df['Index Keywords'] = keywords_df['Index Keywords'].str.split(',')

                                        Index Keywords
0    [adult,   Article,   autoimmune hepatitis,   b...
1    [creatinine,   endothelial leukocyte adhesion ...
2    [blood,   cell organelle,   COVID-19,   epidem...
3    [atonal BHLH transcription factor 1,   beta ac...
4    [crizanlizumab,   vasculotropin antibody,   cl...
..                                                 ...
794  [hemoglobin,   article,   diabetes mellitus,  ...
795  [angioid streak,   aorta aneurysm,   blood clo...
796  [complication,   diseases,   retina,   sickle ...
797  [bleeding,   complication,   retina,   sickle ...
798  [bleeding,   diseases,   retina,   sickle cell...

[799 rows x 1 columns]

In [120]:
data['Index Keywords'] = keywords_df['Index Keywords']

In [121]:
data

,Title,Year,Source title,Abstract,Index Keywords,Cited by,Publisher,Language of Original Document,Document Type,countries,Funding Entities,Main Country,Period,Number of collaborators
0,Severe proliferative retinopathy in a patient ...,2023,American Journal of Ophthalmology Case Reports,[No abstract available],"[adult, Article, autoimmune hepatitis, b...",0.0,Elsevier Inc.,English,Article,[United States],[],['United States'],2014 - 2023,1
1,Plasma levels of E-selectin are associated wit...,2023,European Journal of Haematology,Background: The vascular endothelium is marked...,"[creatinine, endothelial leukocyte adhesion ...",0.0,John Wiley and Sons Inc,English,Article,"[France, Guadeloupe]",[],['France'],2014 - 2023,2
2,Routine Ophthalmological Examination Rates in ...,2023,International Journal of Environmental Researc...,The American Academy of Ophthalmology and the ...,"[blood, cell organelle, COVID-19, epidem...",0.0,MDPI,English,Article,[United States],"[Albert Einstein College of Medicine, Yeshiva ...",['United States'],2014 - 2023,1
3,Progress in and Prospects of Genome Editing To...,2023,Genes,"Programmable nucleases, such as zinc finger nu...","[atonal BHLH transcription factor 1, beta ac...",0.0,MDPI,English,Review,[South Korea],[National Research Foundation],[],2014 - 2023,1
4,Screening for sickle-cell retinopathy,2023,Eye (Basingstoke),[No abstract available],"[crizanlizumab, vasculotropin antibody, cl...",0.0,Springer Nature,English,Letter,[United Kingdom],[],['United Kingdom'],2014 - 2023,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,UNILATERAL GLAUCOMA ASSOCIATED WITH SICKLE-CEL...,1964,Transactions - American Academy of Ophthalmolo...,[No abstract available],"[hemoglobin, article, diabetes mellitus, ...",7.0,NaN,English,Article,[],[],[],1964 - 1973,1
795,RETINOPATHY WITH ANGIOID STREAKS. [RETINOPATHI...,1963,Belgisch tijdschrift voor geneeskunde,[No abstract available],"[angioid streak, aorta aneurysm, blood clo...",0.0,NaN,Dutch,Review,[],[],[],1954 - 1963,1
796,[Retinopathy in sickle cell disease],1960,Klinische Monatsblätter für Augenheilkunde und...,[No abstract available],"[complication, diseases, retina, sickle ...",1.0,NaN,German,Article,[],[],[],1954 - 1963,1
797,Sickle-cell retinopathy,1958,The Mississippi doctor,[No abstract available],"[bleeding, complication, retina, sickle ...",0.0,NaN,English,Article,[],[],[],1954 - 1963,1
798,Vitreous hemorrhage and retinopathy associated...,1954,American Journal of Ophthalmology,A cause of Eales' disease is presented which w...,"[bleeding, diseases, retina, sickle cell...",15.0,NaN,English,Article,[United States],[],['United States'],1954 - 1963,1

In [123]:
data.to_csv('../data/interim/data_02.csv')