In [1]:
#importing the dependencies
import pandas as pd
import numpy as np
import pycountry

In [3]:
#Loading the dataset
data = pd.read_csv('../data/interim/data.csv', index_col=0)
data.head()

,Title,Year,Source title,Abstract,Index Keywords,Cited by,Publisher,Language of Original Document,Document Type,countries,Funding Entities,Main Country
0,Severe proliferative retinopathy in a patient ...,2023,American Journal of Ophthalmology Case Reports,[No abstract available],"['adult', ' Article', ' autoimmune hepatitis',...",NaN,Elsevier Inc.,English,Article,['United States'],[],['United States']
1,Plasma levels of E-selectin are associated wit...,2023,European Journal of Haematology,Background: The vascular endothelium is marked...,"['creatinine', ' endothelial leukocyte adhesio...",NaN,John Wiley and Sons Inc,English,Article,"['France', 'Guadeloupe']",[],['France']
2,Routine Ophthalmological Examination Rates in ...,2023,International Journal of Environmental Researc...,The American Academy of Ophthalmology and the ...,"['blood', ' cell organelle', ' COVID-19', ' ep...",NaN,MDPI,English,Article,['United States'],"[Albert Einstein College of Medicine, Yeshiva ...",['United States']
3,Progress in and Prospects of Genome Editing To...,2023,Genes,"Programmable nucleases, such as zinc finger nu...","['atonal BHLH transcription factor 1', ' beta ...",NaN,MDPI,English,Review,['South Korea'],[National Research Foundation],[]
4,Screening for sickle-cell retinopathy,2023,Eye (Basingstoke),[No abstract available],"['crizanlizumab', ' vasculotropin antibody', '...",NaN,Springer Nature,English,Letter,['United Kingdom'],[],['United Kingdom']

1. Total number of publications - 799

# Adding a decade column

In [28]:
period_length = 10
start_year = 1954
end_year = 2024

year_range = end_year - start_year
modulo = year_range % period_length
modulo

0

In [29]:
final_start = end_year - period_length
final_start

2014

In [34]:
starts = np.arange(start_year, end_year,period_length).tolist()
tuples = [(start, start + period_length) for start in starts]
tuples
bins = pd.IntervalIndex.from_tuples(tuples,closed='left')
bins

IntervalIndex([[1954, 1964), [1964, 1974), [1974, 1984), [1984, 1994), [1994, 2004), [2004, 2014), [2014, 2024)], dtype='interval[int64, left]')

In [35]:
original_labels = list(bins.astype(str))
new_labels = ['{} - {}'.format(b.strip('[)').split(', ')[0], int(b.strip('[)').split(', ')[1])-1) for b in original_labels]

label_dict = dict(zip(original_labels, new_labels))

label_dict

{'[1954, 1964)': '1954 - 1963',
 '[1964, 1974)': '1964 - 1973',
 '[1974, 1984)': '1974 - 1983',
 '[1984, 1994)': '1984 - 1993',
 '[1994, 2004)': '1994 - 2003',
 '[2004, 2014)': '2004 - 2013',
 '[2014, 2024)': '2014 - 2023'}

In [45]:
label_dict.values()

dict_values(['1954 - 1963', '1964 - 1973', '1974 - 1983', '1984 - 1993', '1994 - 2003', '2004 - 2013', '2014 - 2023'])

In [40]:
decade_df = data[['Year']]
decade_df.head()

   Year
0  2023
1  2023
2  2023
3  2023
4  2023

In [49]:
decade_df['Period'] = pd.cut(decade_df['Year'], bins=bins, include_lowest=True, precision=0)
decade_df['Period'] = decade_df['Period'].astype("str")
decade_df = decade_df.replace(label_dict)

In [50]:
decade_df.head()

   Year       PERIOD       Period
0  2023  2014 - 2023  2014 - 2023
1  2023  2014 - 2023  2014 - 2023
2  2023  2014 - 2023  2014 - 2023
3  2023  2014 - 2023  2014 - 2023
4  2023  2014 - 2023  2014 - 2023

In [53]:
decade_df.drop('PERIOD', axis=1, inplace=True)
decade_df.head()

   Year       Period
0  2023  2014 - 2023
1  2023  2014 - 2023
2  2023  2014 - 2023
3  2023  2014 - 2023
4  2023  2014 - 2023

In [57]:
decade_df.groupby('Period')['Period'].count()

Period
1954 - 1963      4
1964 - 1973     27
1974 - 1983    112
1984 - 1993     99
1994 - 2003     75
2004 - 2013    138
2014 - 2023    344
Name: Period, dtype: int64

In [58]:
data['Period'] = decade_df['Period']
data.head()

,Title,Year,Source title,Abstract,Index Keywords,Cited by,Publisher,Language of Original Document,Document Type,countries,Funding Entities,Main Country,Period
0,Severe proliferative retinopathy in a patient ...,2023,American Journal of Ophthalmology Case Reports,[No abstract available],"['adult', ' Article', ' autoimmune hepatitis',...",NaN,Elsevier Inc.,English,Article,['United States'],[],['United States'],2014 - 2023
1,Plasma levels of E-selectin are associated wit...,2023,European Journal of Haematology,Background: The vascular endothelium is marked...,"['creatinine', ' endothelial leukocyte adhesio...",NaN,John Wiley and Sons Inc,English,Article,"['France', 'Guadeloupe']",[],['France'],2014 - 2023
2,Routine Ophthalmological Examination Rates in ...,2023,International Journal of Environmental Researc...,The American Academy of Ophthalmology and the ...,"['blood', ' cell organelle', ' COVID-19', ' ep...",NaN,MDPI,English,Article,['United States'],"[Albert Einstein College of Medicine, Yeshiva ...",['United States'],2014 - 2023
3,Progress in and Prospects of Genome Editing To...,2023,Genes,"Programmable nucleases, such as zinc finger nu...","['atonal BHLH transcription factor 1', ' beta ...",NaN,MDPI,English,Review,['South Korea'],[National Research Foundation],[],2014 - 2023
4,Screening for sickle-cell retinopathy,2023,Eye (Basingstoke),[No abstract available],"['crizanlizumab', ' vasculotropin antibody', '...",NaN,Springer Nature,English,Letter,['United Kingdom'],[],['United Kingdom'],2014 - 2023

# Working on the countries

1. explode the list??
2. Some sort of network

In [59]:
data.columns

Index(['Title', 'Year', 'Source title', 'Abstract', 'Index Keywords',
       'Cited by', 'Publisher', 'Language of Original Document',
       'Document Type', 'countries', 'Funding Entities', 'Main Country',
       'Period'],
      dtype='object')

In [60]:
cols = ['countries','Main Country']
country_df = data[cols]
country_df.head()

                  countries        Main Country
0         ['United States']   ['United States']
1  ['France', 'Guadeloupe']          ['France']
2         ['United States']   ['United States']
3           ['South Korea']                  []
4        ['United Kingdom']  ['United Kingdom']

In [64]:
country_df.value_counts()

countries                     Main Country
['United States']             ['United States']               279
[]                            []                               48
['United States']             []                               41
['Brazil']                    ['Brazil']                       35
['France']                    ['France']                       33
                                                             ...
['Georgia', 'United States']  []                                1
                              ['Georgia', 'United States']      1
['French Guiana']             ['French Guiana']                 1
['Belgium', 'United States']  []                                1
["Cote d'Ivoire"]             ["Cote d'Ivoire"]                 1
Name: count, Length: 173, dtype: int64

In [63]:
#number of empty funding details
print(len([i for i in country_df['Main Country'] if len(i) == 0])
)

#rows with no funding
# funding_df[funding_df['Funding Details'].str.len() == 0]

0

# publication count over the years